In [1]:
import pandas as pd
import os

In [2]:
file_path = 'C:/01_Projects/01_gun_russia/'

In [3]:
rus_regions = pd.read_excel('C:/00_Data/00_General/RF_regions.xlsx', sheet_name='regions_2021')

okved2 = pd.read_excel('C:/00_Data/00_General/okved2_2022_01_01.xlsx', sheet_name='data')

In [4]:
# вытаскиваю названия файлов в список file_list

file_list = []

for root, dirs, files in os.walk(file_path):
    
    for filename in files:
        file_list += [filename]

In [5]:
# список файлов

file_list

['lic_gun_trade.xlsx',
 'temp.xlsx',
 '~$lic_gun_trade.xlsx',
 'criminal_222_224.xlsx',
 'gunportal.xlsx',
 'gun_production_minpromtorg_2022_01_15.csv',
 'gun_russia.xlsx',
 'hunt_profit.xlsx',
 'СПАРК-Отчет_20220114_131100.xlsx',
 'СПАРК-Отчет_20220114_131159.xlsx',
 'СПАРК-Отчет_20220114_131205.xlsx',
 'fin_report.csv',
 'fin_report.xlsx',
 'gen_info.csv',
 'gen_info.xlsx']

In [7]:
need_file = input()

lic_gun_trade.xlsx

In [8]:
# список листов

pd.read_excel(file_path + need_file, None).keys()

dict_keys(['meta', 'gun_2021_12_28', 'gun_2021_12_28_full', 'gun_2021_01_25', 'cartridges_2021_12_28', 'cartridges_2021_12_28_full', 'cartridges_2021_01_25', 'gun_production_mintorg_full', 'gun_production_mintorg_need', 'basic_dadata', 'inn_check'])

In [9]:
# загружаю лицензии на оружие

need_sheet = input()

work_lic_gun = pd.read_excel(file_path + need_file, sheet_name=need_sheet)

work_lic_gun.shape

gun_2021_12_28_full

(1140, 30)

In [10]:
# загружаю лицензии на патроны

need_sheet_2 = input()

work_lic_cartridges = pd.read_excel(file_path + need_file, sheet_name=need_sheet_2)

work_lic_cartridges.shape

cartridges_2021_12_28_full

(1007, 30)

#### Оружие

In [11]:
work_lic_gun.head(2)

,license,cartridge_lic,lic_date,lic_status,exp_date,year,name,shortname,brandname,organizational and legal form,...,order_date,division,suspension_period,termination_date,verification_date,verification_basis,act_details,prescription,regulations,entering_date
0,№ 0340000001575,0,23.06.2014,Прекращена,31.12.2999,2999,"ООО ""МИР ОХОТЫ-ВОЛГОГРАД""","ООО ""МИР ОХОТЫ-ВОЛГОГРАД""",МИР ОХОТЫ,Общества с ограниченной ответственностью,...,23.06.2014.1,Управление Росгвардии по Волгоградской области,NaN,18.05.2018,NaN,NaN,NaN,NaN,NaN,2018-05-18 00:00:00
1,№ 0008240,0,2016-09-23 00:00:00,Прекращена,31.12.2999,2999,"ООО ""АРСЕНАЛ-РЯЗАНЬ""","ООО ""АРСЕНАЛ-РЯЗАНЬ""","ООО ""АРСЕНАЛ-РЯЗАНЬ""",Общества с ограниченной ответственностью,...,06.06.2017,ЦЛРР Управления Росгвардии по Рязанской области,NaN,07.06.2017,03.10.2016,"Внеплановая,Иное",NaN,NaN,NaN,07.06.2017

In [12]:
work_lic_gun.columns

Index(['license', 'cartridge_lic', 'lic_date', 'lic_status', 'exp_date',
       'year', 'name', 'shortname', 'brandname',
       'organizational and legal form', 'address', 'federal_district',
       'region_iso', 'region_off_name', 'region_shortname', 'ogrn', 'inn',
       'okved', 'activities', 'odrer_number', 'order_date', 'division',
       'suspension_period', 'termination_date', 'verification_date',
       'verification_basis', 'act_details', 'prescription', 'regulations',
       'entering_date'],
      dtype='object')

In [13]:
work_lic_gun['name'].value_counts()

ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ОХОТНИК"                                  34
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "АРСЕНАЛ"                                  19
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "БЕРКУТ"                                   12
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ХАНТЕР"                                    9
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "БАРС"                                      9
                                                                                    ..
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "МЕЖДУНАРОДНЫЙ ЦЕНТР ОХОТЫ И РЫБАЛКИ"       1
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТОРГОВЫЙ ДОМ "ЛОБАЕВ АРМС"                 1
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ОХРАННОЕ ПРЕДПРИЯТИЕ "ГЮРЗА"               1
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "АЛЬФА ПРЕСИЖЕН"                            1
ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ЧАСТНАЯ ОХРАННАЯ ОРГАНИЗАЦИЯ "РАДОН-СБ"     1
Name: name, Length: 840, dtype: int64

In [14]:
# всего организаций

work_lic_gun['inn'].nunique()

1039

In [15]:
work_lic_gun['lic_status'].value_counts().reset_index()

           index  lic_status
0      Действует         875
1     Прекращена         149
2  Переоформлена          58
3   Аннулирована          54
4       Продлена           4

In [16]:
# лицензии на патроны

work_lic_gun[['inn', 'cartridge_lic']].drop_duplicates().cartridge_lic.value_counts()

1    912
0    127
Name: cartridge_lic, dtype: int64

In [17]:
# лицензии на патроны

(work_lic_gun[work_lic_gun['lic_status'] == 'Действует']
 [['inn', 'cartridge_lic']].drop_duplicates().cartridge_lic.value_counts()
)

1    776
0     69
Name: cartridge_lic, dtype: int64

#### Патроны

In [18]:
work_lic_cartridges.head(2)

,license,gun_lic,lic_date,lic_status,exp_date,name,shortname,brandname,organizational and legal form,address,...,order_date,division,suspension_period,termination_date,verification_date,verification_basis,act_details,prescription,regulations,entering_date
0,ТП № 0001169,1,14.11.2016,Действует,31.12.2999,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АРТЕ...","ООО ""АРТЕМИДА""",NaN,Общества с ограниченной ответственностью,"обл. Волгоградская, г. Волгоград, пр-кт. Метал...",...,14.11.2016.1,Управление Росгвардии по Волгоградской области,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.12.2018
1,0001171,1,30.06.2017,Действует,31.12.2999,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""КАЛИБР""","ООО ""КАЛИБР""",NaN,Общества с ограниченной ответственностью,"обл. Волгоградская, г. Волгоград, пр-кт. им Ма...",...,30.06.2017,Управление Росгвардии по Волгоградской области,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.12.2018

In [19]:
work_lic_cartridges['lic_status'].value_counts().reset_index()

           index  lic_status
0      Действует         818
1     Прекращена         105
2  Переоформлена          45
3   Аннулирована          36
4       Продлена           3

In [20]:
work_lic_cartridges[['inn', 'gun_lic']].drop_duplicates().gun_lic.value_counts()

1    912
0     34
Name: gun_lic, dtype: int64

In [21]:
(work_lic_cartridges[work_lic_cartridges['lic_status'] == 'Действует']
 [['inn', 'gun_lic']].drop_duplicates().gun_lic.value_counts()
)

1    775
0     23
Name: gun_lic, dtype: int64

## Очищенные листы

In [44]:
# загружаю лицензии на оружие

work_lic_gun = pd.read_excel(file_path + need_file, sheet_name='gun_2021_12_28')

work_lic_gun.shape

(863, 30)

In [45]:
# загружаю лицензии на патроны

work_lic_cartridges = pd.read_excel(file_path + need_file, sheet_name='cartridges_2021_12_28')

work_lic_cartridges.shape

(815, 29)

In [46]:
work_lic_gun['inn'].value_counts().head()

ИНН: 0104014985    1
ИНН: 5836652505    1
ИНН: 5837012875    1
ИНН: 5837073194    1
ИНН: 5904114120    1
Name: inn, dtype: int64

In [47]:
work_lic_gun['okved'].value_counts()

47.78.9    231
47.78.7    132
47.64      130
47.7        78
47.78       70
          ...
25.50        1
95.29        1
56.10        1
55.90        1
38.21        1
Name: okved, Length: 75, dtype: int64

In [48]:
work_lic_gun_need = work_lic_gun[[
    'cartridge_lic',
    'name', 'shortname',
    'address', 'region_shortname',
    'inn', 'okved']].drop_duplicates()

In [49]:
work_lic_gun_need.shape

(863, 7)

In [50]:
work_lic_gun_need.sample(2)

,cartridge_lic,name,shortname,address,region_shortname,inn,okved
148,1,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""ЛОВЧИЙ""","ООО ""ЛОВЧИЙ""","ЧУВАШСКАЯ РЕСПУБЛИКА, Чебоксары, Водопроводная...",Чувашия,ИНН: 2130036756,47.64
78,1,"ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ""АРСЕ...","ООО ""АРСЕНАЛ""","Респ. Коми, г. Сыктывкар, ул. Северная, с65",Коми,ИНН: 1101076833,47.5

In [51]:
work_lic_gun_region = (work_lic_gun_need.groupby('region_shortname', as_index=False)
 .agg({'inn': 'count'})
 .rename(columns={'inn': 'shop_number'})
)

In [52]:
work_lic_gun_region = work_lic_gun_region.merge(rus_regions, on='region_shortname', how='left')

In [70]:
work_lic_gun_region['for_10ph'] = work_lic_gun_region['shop_number'] / work_lic_gun_region['population_th']

In [71]:
work_lic_gun_region

,region_shortname,shop_number,federal_district,square,population_th,density,municipality_number,for_10ph
0,Адыгея,5,Южный ФО,7.8,463.2,59.4,60,0.010794
1,Алтай,5,Сибирский ФО,92.9,221.0,2.4,102,0.022624
2,Алтайский край,16,Сибирский ФО,168.0,2296.4,13.7,717,0.006967
3,Амурская область,10,Дальневосточный ФО,361.9,781.9,2.2,262,0.012789
4,Архангельская область,8,Северо-Западный ФО,413.1,1082.7,2.6,197,0.007389
...,...,...,...,...,...,...,...,...
80,Чечня,2,Северо-Кавказский ФО,15.6,1498.0,95.7,234,0.001335
81,Чувашия,4,Приволжский ФО,18.3,1207.9,65.8,317,0.003312
82,Чукотский АО,3,Дальневосточный ФО,721.5,49.5,0.1,30,0.060606
83,Ямало-Ненецкий АО,3,Уральский ФО,769.3,547.0,0.7,33,0.005484
84,Ярославская область,6,Центральный ФО,36.2,1241.4,34.3,96,0.004833

In [72]:
#work_lic_gun_region.to_excel(file_path + 'temp.xlsx', index=False)

### Магазины с ОКВЭД 47.78.7

Торговля розничная оружием и боеприпасами в специализированных магазинах

In [80]:
work_lic_gun_shops = work_lic_gun_need[work_lic_gun_need['okved'] == '47.78.7']

In [91]:
fin_report = pd.read_excel('C:/01_Projects/01_gun_russia/Data/bo_nalog/fin_report.xlsx')

In [93]:
fin_report = work_lic_gun_shops[['inn']].merge(fin_report, how='left', on='inn')

In [94]:
fin_report.to_excel(file_path + 'temp.xlsx', index=False)

In [81]:
work_lic_gun_shops_reg = (work_lic_gun_shops.groupby('region_shortname', as_index=False)
 .agg({'inn': 'count'})
 .rename(columns={'inn': 'shop_number'})
)

In [82]:
work_lic_gun_shops_reg
work_lic_gun_shops_reg = work_lic_gun_shops_reg.merge(rus_regions, on='region_shortname', how='left')

In [79]:
work_lic_gun_shops_reg.to_excel(file_path + 'temp.xlsx', index=False)

In [ ]:
work_lic_gun_shops

In [ ]:
work_lic_cartridges

In [ ]:
work_lic_cartridges[['inn']].sort_values('inn').to_excel(file_path + 'temp3.xlsx', index=False)

In [ ]:
temp = pd.concat(work_lic_gun[['inn']].sort_values('inn'), work_lic_cartridges[['inn']].sort_values('inn'))

In [ ]:
work_lic_gun['lic_status'].value_counts().reset_index()

In [ ]:
okved_2 = pd.read_excel(file_path + 'okved2_2022_01_01.xlsx')

In [ ]:
work_okved = (work_lic_gun[work_lic_gun['lic_status'] == 'Действует']
 ['okved'].value_counts().reset_index()
 .rename(columns={'index': 'code', 'okved': 'lic_number'})
)

In [ ]:
work_okved = work_okved.merge(okved_2, on='code', how='left')

In [ ]:
work_okved.to_excel(file_path + 'temp.xlsx', index=False)

In [ ]:
work_lic_gun.head()

In [ ]:
work_lic_gun_2 = work_lic_gun[['name', 'lic_status', 'inn']]

work_lic_catr_2 = work_lic_catr[['name', 'lic_status', 'inn']]

In [ ]:
work_lic_gun.columns

In [ ]:
work_lic_gun_2.merge(work_lic_catr_2, how='left', on='inn').to_excel(file_path + 'temp.xlsx')

In [ ]:
# количество лицензий по регионам

(work_lic_gun
 .groupby(['region_short_name', 'lic_status'], as_index=False)
 .agg({'name':'count'})
 .rename(columns={'name':'lic_number'})
 .sort_values('lic_number', ascending=False)
)


#.to_excel(file_path + 'temp.xlsx')

In [ ]:
work_okved.to_excel(file_path + 'temp.xlsx', index=False)

In [ ]:
okved_2.sample(3)

In [ ]:
# статус лицензий

work['lic_status'].value_counts().reset_index()

In [ ]:
# количество лицензий по регионам

(work[work['lic_status'] == 'Действует']
 .groupby('region_short_name', as_index=False)
 .agg({'name':'count'})
 .rename(columns={'name':'lic_number'})
 .sort_values('lic_number', ascending=False)
).head(10)

In [ ]:
# количество лицензий по регионам

(work
 .groupby(['region_short_name', 'lic_status'], as_index=False)
 .agg({'name':'count'})
 .rename(columns={'name':'lic_number'})
 .sort_values('lic_number', ascending=False)
).to_excel(file_path + 'temp.xlsx')

In [ ]:
work['inn'].nunique()

In [ ]:
work['exp_date'].value_counts().reset_index()

In [ ]:
work_222 = pd.read_excel(file_path + '222.xlsx')

In [ ]:
work_222[work_222['Статья'] == '222ч.4']

In [ ]:
work_minpromtorg = pd.read_excel('C:/01_Projects/gun_russia/Data/minpromtorg_gun_2022_01_12.xlsx', sheet_name='data')

In [ ]:
temp = work_lic_gun.merge(work_minpromtorg, on='inn')

In [ ]:
temp.to_excel(file_path + 'temp.xlsx', index=False)