## Библиотеки и настройки

In [2]:
# импорт библиотек

import pandas as pd # панды

import re # регулярки

import os # для работы с папками и файлами

In [3]:
# путь к файлам

file_path = 'C:/00_Projects/RIA/2022/02_elk_accidents/'

In [4]:
# вытаскиваю названия файлов в список file_list

file_list = []

for root, dirs, files in os.walk(file_path):
    
    for filename in files:
        file_list += [filename]

In [5]:
print(file_list)

['bears.xlsx', 'bear_deaths.xlsx', 'elk_deaths.xlsx', 'elk_deaths_original.xlsx', 'RF_regions.xlsx', '~$RF_regions.xlsx', 'elks_old.csv', 'new_bears.csv', 'new_elks.csv', '2011 формы 1.1 и  1.4.xls', '2012 формы 1.1 и 1.4.xls', '2013 формы 1.1 и 1.4.xls', '2014 формы 1.1 и 1.4.xls', '2015 формы 1.1 и 1.4.xls', '2016 формы 1.1 и 1.4.xls', '2017 формы 1.1 и 1.4.xls', '2018 формы 1.1 и 1.4.xlsx', '2019 формы 1.1 и 1.4.xlsx', '2020 формы 1.1 и 1.4.xlsx', 'Форма 1.7 Итог.xlsx']

In [13]:
# выгрузка файла в датафрейм

work = pd.read_excel(file_path + 'animal_accidents.xlsx', sheet_name='regions')

In [14]:
work.sample()

,region_code,federal_disrict,region,year,animal,total,disease,accident,poaching,other
1894,25,Дальневосточный ФО,Приморский край,2016,Кабан,32,0,0,32,0

In [15]:
# количество строк и столбцов

work.shape

(9180, 10)

In [16]:
# типы данных

work.dtypes

region_code         int64
federal_disrict    object
region             object
year                int64
animal             object
total               int64
disease            object
accident           object
poaching           object
other              object
dtype: object

In [17]:
# проверка на пустые значения

work.isnull().sum()

region_code        0
federal_disrict    0
region             0
year               0
animal             0
total              0
disease            0
accident           0
poaching           0
other              0
dtype: int64

In [18]:
# меняю типы столбцов

work = work.astype({'region_code': 'int32', 'total': 'int32', 'year': 'object'})

In [26]:
# удаляю медведей

work = work[work.animal != 'Медведи']

In [19]:
work.sample()

,region_code,federal_disrict,region,year,animal,total,disease,accident,poaching,other
2372,78,Северо-Западный ФО,г. Санкт-Петербург,2016,Медведи,0,none,none,none,none

In [28]:
total_deaths = (work.groupby('animal', as_index=False)
                .agg({'total': 'sum', 'accident': 'sum'})
                .sort_values('total', ascending=False)
               )

In [35]:
total_deaths['accident_part'] = round((total_deaths.accident / total_deaths.total) * 100, 1)

In [36]:
total_deaths

                    animal  total  accident  accident_part
1             Все копытные  39290     11915           30.3
8                     Лось  17470      8943           51.2
6                   Косули  11595      1870           16.1
4                    Кабан   6669      1309           19.6
3     Дикий северный олень   1596         3            0.2
0        Благородный олень   1066        69            6.5
5                  Кабарга    330         1            0.3
11         Пятнистый олень    159        66           41.5
15           Снежный баран     41         0            0.0
12                  Сайгак     34         0            0.0
10                 Овцебык     10         0            0.0
14  Сибирский горный козел      4         0            0.0
9                   Муфлон      3         0            0.0
16                    Туры      3         0            0.0
7                     Лань      2         0            0.0
2   Гибрид зубра с бизоном      2         1           50.0
13                   Серна      0         0            NaN