In [1]:
# для запросов
import requests

# для работы с JSON
import json

# для работы с папками
import os

from time import sleep

import math

# 
from datetime import timedelta, date

# прогресс-бар
from tqdm.notebook import trange, tqdm

# для дафреймов
import pandas as pd

In [2]:
# путь к файлам

file_path = 'C:/00_Data/temp_data/VK/'

token_list_path = 'C:/work/keys/vk.txt' # путь к файлу с токеном

In [3]:
# загружаю токен

with open(token_list_path, 'r') as f:
    for line in f:
        vk_key = line

In [4]:
# настройки для парсинга

version = 5.131

### Файлы

In [5]:
work_groups = pd.read_csv(file_path + 'groups_info.csv')

In [6]:
all_followers = pd.read_csv(file_path + 'all_followers.csv')

In [7]:
work_users = pd.read_csv(file_path + 'users_vk.csv')

In [8]:
city_database = pd.read_csv(file_path + 'city_database.csv')

In [9]:
users_unique = (all_followers[
    (all_followers.country_id == '1') &
    (all_followers.city_id != 'none')].user_id
                .value_counts().reset_index()
                .rename(columns={'user_id': 'group_number', 'index': 'user_id'}))

In [10]:
all_followers_need = all_followers[['user_id', 'first_name', 'last_name', 'sex', 'bdate', 'city_title',
                                    'city_id', 'country_title', 'country_id', 'education_status',
                                    'account_type']]

In [11]:
users_unique = users_unique.merge(all_followers_need, how='left', on='user_id').drop_duplicates()

In [12]:
users_unique.shape

(303507, 12)

In [13]:
city_database.dtypes

city_id        int64
city_title    object
area          object
region        object
dtype: object

In [14]:
users_unique.dtypes

user_id              int64
group_number         int64
first_name          object
last_name           object
sex                  int64
bdate               object
city_title          object
city_id             object
country_title       object
country_id          object
education_status    object
account_type        object
dtype: object

In [16]:
users_unique = users_unique.astype({'city_id': 'int32'})

In [17]:
city_database = city_database.astype({'city_id': 'int32'})

In [18]:
users_unique = users_unique.merge(city_database, how='left', on=['city_id', 'city_title'])

In [19]:
users_unique.region.value_counts().reset_index().to_excel(file_path + 'temp.xlsx')

In [20]:
#users_unique[['city_title', 'city_id', 'area', 'region']].drop_duplicates().to_excel(file_path + 'temp.xlsx', index=False)

In [21]:
new_region = pd.read_excel(file_path + 'temp.xlsx')

In [26]:
users_unique.drop(columns=['area', 'region'], inplace=True)

In [28]:
users_unique = users_unique.merge(new_region, how='left', on=['city_id', 'city_title'])

In [32]:
users_unique.fillna('none', inplace=True)

In [34]:
users_unique = users_unique[users_unique.region != 'none']

In [35]:
users_unique.shape

(302892, 14)

In [39]:
work_users.rename(columns={'group_number': 'sub_number'}, inplace=True)

In [41]:
users_unique.shape

(302892, 14)

In [63]:
users_unique = users_unique.merge(work_users, how='left', on='user_id')

In [64]:
users_unique.head()

,user_id,group_number,first_name,last_name,sex,bdate,city_title,city_id,country_title,country_id,education_status,account_type,area,region,deactivated,profile_closed,friend_number,sub_number
0,556880840,106,Антон,Самойлов,2,15.8.1987,Уфа,151,Россия,1,none,False,Городской округ Уфа,Республика Башкортостан,none,False,4511,none
1,551853625,104,Сергей,Кладов,2,29.5.1985,Москва,1,Россия,1,none,True,none,Москва,none,True,6912,none
2,451723147,102,Андрей,Сорокин,2,none,Шуя,165,Россия,1,none,True,Шуйский район,Ивановская область,none,True,5455,none
3,12668623,99,Николай,Дегтев,2,18.9,Нижний Новгород,95,Россия,1,none,True,Городской округ Нижний Новгород,Нижегородская область,none,True,74,none
4,700498069,96,Максим,Суворов,2,12.9.1988,Тобольск,182,Россия,1,none,False,Городской округ город Тобольск,Тюменская область,none,False,47,224

In [142]:
users_unique_sample = users_unique.copy()

In [143]:
users_unique.shape

(302892, 18)

In [144]:
# меняю строковые значения на 0

users_unique_sample['friend_number'] = users_unique_sample['friend_number'].str.replace('none', '0')
users_unique_sample['sub_number'] = users_unique_sample['sub_number'].str.replace('none', '0')

users_unique_sample['friend_number'].fillna('0', inplace=True)
users_unique_sample['sub_number'].fillna('0', inplace=True)

In [145]:
users_unique_sample = users_unique_sample.astype({'friend_number': 'int32', 'sub_number': 'int32'})

In [146]:
# убираю ботов по друзьям

users_unique_sample = users_unique_sample[
    (
        (users_unique_sample.friend_number >= 30) &
        (users_unique_sample.friend_number <= 2000)) |
    (users_unique_sample.friend_number == 0)
]

In [149]:
users_unique_sample = users_unique_sample[(users_unique_sample.sub_number <= 4000)]

In [152]:
users_unique_sample.shape

(281037, 18)

In [155]:
region_vk = users_unique.region.value_counts().reset_index().rename(columns={'region': 'treasure_hunters', 'index': 'region'})

In [156]:
region_vk_clear = users_unique_sample.region.value_counts().reset_index().rename(columns={'region': 'treasure_hunters_clear', 'index': 'region'})

In [158]:
region_vk = region_vk.merge(region_vk_clear, how='left', on='region')

In [159]:
region_vk.to_excel(file_path + 'region_vk.xlsx')

In [161]:
users_unique_sample.sex.value_counts()

2    226435
1     54559
0        43
Name: sex, dtype: int64